{% extends "base.html" %}

{% block title %}
    Welcome!
{% endblock %}

{% block header %}
    Welcome to 🤖RoboTurtle🐢 HQ
{% endblock %}

{% block body %}
    <h2>🤖🐢 mission statement </h2>
    <p>🤖Robo and Turtle🐢 have joined forces to supply music fans with playlists that aren't as much on the safe side as the lists Spotify recommends.</p>
    <p>🤖 serves up a great list just for you, with a single click! </p>
    <p>🐢 provides meticulously collected pieces of music, turtlemade in cooperation with yourself! </p>
{% endblock %}

