{% extends "base.html" %}
{% block script %}
{% endblock %}
{% block title %}
    🤖 classic
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    <div class="wrapper">
        <h2>
            🤖classic 
        </h2>
        <p> 
            One button is all you need
        </p>
        <form class="roboturtle" id="classic" name="classic" action="/classic" method="POST">
            <button class="button" type="submit" id="button" value="button"> 
                <p>🤖</p>
                <p>ACTIVATE</p>
                <p>🤖</p>
            </button>
        </form>
    </div>
{% endblock %}
